body{
    margin-top: 25px;
    font-family: sans-serif;
}
#container{
    display: grid;
    grid-template-columns: 295px 600px;
    grid-template-rows:400px 50px;
    grid-template-areas: "I T"
                        "bloco1 bloco1";
    gap:15px;
    margin-left: calc( 50% - 455px );
}
#bloco1{
    grid-area: bloco1;
}
.bloco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"pro inter";

}
.pro{
    grid-area: pro;
}
.inter{
    grid-area: inter;
}

#I{
    grid-area: I;
}

#II{
    grid-area: II;
    display: none;
}


#T{
    grid-area: T;
    background-color: aliceblue;
}

h1{
    text-align: center;
    font-size: 50px;
}
.radd{
    border-radius: 15px;
}
.rad{
    border-radius: 15px;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 25px;
}
#pic{
    width: 0px;
}

@media screen and (max-width: 725px){
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:80px 355px 400px 40px;
        grid-template-areas: "bloco1 bloco1"
                             "II  II"
                             "T   T";
        gap:15px;
        justify-items: center;
        width: 94%;
        margin-left: 3%;
        
    }
    .bloco{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"pro" "inter"
    }
    #T{
        grid-area: T;
        background-color: aliceblue;
        
    }
    #I{
        grid-area:I;
        display: none;
    

    }
    .rad{
        width: 0px;
    }

    
    #II{
        display: block;
        grid-area:II;
        align-items: center;
        align-content: center;
    }
    
    #pic {
        width: 355px;
        height: 236px;
        border-radius: 15px;
       
    
    }
    
}